<div
  class="container mx-auto flex flex-auto flex-col items-center justify-center"
>
  <div class="mx-auto w-full max-w-128 px-18 md:px-6">
    <img src="images/404-illustration.svg" alt="Not found" />
  </div>

  <div class="text-default mt-6 px-6 text-center sm:mt-10">
    <h2 class="text-3xl font-bold">Oops! Page Not Found (404)</h2>
    <p class="mt-2">
      Sorry, we couldn't find the page you were looking for. It may have
      disappeared or never existed. Please check the URL or return to our
      homepage.
    </p>
  </div>

  <div class="mt-4 text-center sm:mt-6">
    <a mat-flat-button color="primary" class="mat-button-large" routerLink="/">
      Back to Homepage
    </a>
  </div>
</div>
