<div>
  <ng-template dialog-title>Example Dialog</ng-template>

  <ng-template dialog-body>
    <p>{{ data.message }}</p>

    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Vestibulum nibh
      posuere tortor at blandit montes erat eget quam sem molestie imperdiet
      ultricies malesuada pulvinar dui egestas primis consectetur quis sagittis
      quis interdum pellentesque ultrices. Dapibus venenatis sodales vel
      volutpat tristique taciti nam ultrices mattis dolor torquent nibh posuere,
      sit facilisis libero in neque. Pulvinar tempus tincidunt bibendum
      elementum consectetur posuere tempor arcu conubia habitant purus elit
      euismod at hac quam ac commodo sociosqu est inceptos luctus viverra ligula
      rutrum placerat eros fringilla netus eu. Inceptos erat neque ad fermentum
      aenean est tortor quisque ipsum ultrices adipiscing semper nullam
      efficitur turpis primis curae curae lorem phasellus hendrerit, curabitur
      non himenaeos mi iaculis. Parturient aliquet erat et augue nisl ad cubilia
      potenti placerat primis ut amet cursus varius lacinia tristique sodales
      platea metus molestie maximus varius ridiculus lectus platea sapien
      rutrum. Efficitur condimentum dapibus venenatis dignissim a ultrices
      nostra aptent natoque dictumst lectus ornare interdum orci potenti cursus
      efficitur facilisi per vivamus feugiat potenti curae. Arcu nisl tristique
      phasellus magnis pulvinar at et, nec vitae neque nunc habitasse
      condimentum gravida justo varius interdum sociosqu rutrum est suspendisse.
      Scelerisque habitasse maecenas dictumst praesent ex egestas ornare lectus
      lacus pretium fames velit taciti cras inceptos donec ridiculus nullam
      sagittis euismod lacus. Finibus litora parturient sapien blandit mattis
      euismod nec id interdum lobortis sed vulputate lacus adipiscing quis
      aenean vulputate urna inceptos molestie; enim interdum lacinia proin
      nascetur nunc fringilla. Gravida nunc tempor volutpat mattis vivamus nisl
      efficitur efficitur consectetur taciti finibus faucibus imperdiet purus
      inceptos duis ex dictum vulputate. Penatibus laoreet velit in scelerisque
      fames libero justo leo cursus sodales montes sociosqu interdum curae fusce
      conubia; imperdiet a platea cursus curae posuere sit finibus tempor
      pretium lectus enim pulvinar leo. Dui elit non massa consectetur quisque
      neque fames habitant laoreet urna mauris litora nulla neque cursus
      habitant cubilia netus ante dapibus rutrum! Non facilisis consequat
      sociosqu maximus vulputate gravida non eget augue eu lobortis scelerisque
      phasellus vehicula cubilia quis posuere amet dapibus amet litora tristique
      eros amet sem aenean duis. Erat volutpat tincidunt nisl per semper diam;
      mattis tempor pretium orci semper nullam nam amet posuere feugiat leo nisi
      erat aenean conubia blandit ultrices parturient quisque. Metus scelerisque
      lobortis nisi faucibus sem ipsum quisque; lacinia dolor ipsum dui ex orci
      lectus porttitor sapien vestibulum risus sodales efficitur lectus.
      Phasellus leo lacus maximus arcu morbi ornare; posuere purus efficitur
      lacus natoque turpis sed nisi nisi lacinia natoque quam egestas facilisi
      aenean.
    </p>
  </ng-template>

  <ng-template>
    <button dialog-dismiss class="btn btn-outline">Cancel</button>

    <button class="btn btn-primary">OK</button>
  </ng-template>
</div>
